dataDownload:
  enabled: true
  image:
    repository: reference-data-extractor
    pullPolicy: Always
    tag: 3.0.2
    pullSecrets: [ ]

nameOverride: "reference-data"
fullnameOverride: "reference-data"

nodeSelector: { }

serviceAccount:
  annotations: { }

config:
  pdxApiKey: "pdx-api-key"
  pdxSecret: "pdx-api-secret"
  mountBasePath: "/mnt/data/geoaddressing-data"
  countries:
    - usa
    - aus
    - can
    - gbr
    - nzl
  dataConfigMap: ~
  failFastEnabled: "false"
  timestampFolder: