## Global configurations will be applicable and referred in every dependent helm chart
## - for more information on global parameter of helm, refer to:
##    https://helm.sh/docs/chart_template_guide/subcharts_and_globals/
global:
  ## Aws region where EFS is installed.
  awsRegion: us-east-1

  addressingHook:
    ## Create storage class as part of chart
    storageClass:
      enabled: true
      ## external storage class name if not created as part of chart
      name: ~

  addressingExpress:
    ## Create storage class as part of chart
    storageClass:
      enabled: true
      ## external storage class name if not created as part of chart
      name: ~

  ## Configurations related to Network File System
  nfs:
    ## Create storage class as part of chart
    storageClass:
      enabled: true
      ## external storage class name if not created as part of chart
      name: ~
    ##
    ## The `fileSystemId` this is a mandatory parameter as regional-addressing service used the reference data mounted in EFS.
    fileSystemId: fileSystemId

  ##
  ## This parameter is helpful if you want to set up region-specific deployments.
  ## For example, if you want to set up deployments for custom region and provide countries in that region, you can edit the following specified JSON:
  ## Make sure to add the custom regions in the countries as well.
  ## e.g. --set "global.countries={usa,custom}"
  ##
  ##  customRegions: |
  ##    {
  ##      "custom": ["world"]
  ##    }
  customRegions: |
    {
      "custom": ["world"]
    }

geo-addressing:
  enabled: true
  addressing-express:
    enabled: true
    expressEngineData:
      memLock:
        enabled: false
      sysctlInit:
        enabled: true
    expressEngineMaster:
      memLock:
        enabled: false
      sysctlInit:
        enabled: true
  event-emitter:
    enabled: false