version: "3.9"
services:
  precisely-regional-addressing:
    image: ${_REGIONAL_IMAGE:-regional-addressing-service:latest}
    platform: linux/amd64
    deploy:
      resources:
        reservations:
          cpus: '1'
          memory: 1500M
    ports:
      - "${_SERVICE_PORT:-8080}:8080"
    environment:
      - ADDRESSING_BASE_URL=http://precisely-addressing-svc:8080
      - LOOKUP_BASE_URL=http://precisely-addressing-svc:8080
      - AUTOCOMPLETE_BASE_URL=http://precisely-addressing-svc:8080
      - REVERSE_GEOCODE_BASE_URL=http://precisely-addressing-svc:8080
      - SUPPORTED_COUNTRIES_GEOCODE=usa,gbr,deu,aus,fra,can,mex,bra,arg,rus,ind,sgp,nzl,jpn,world
      - SUPPORTED_REGIONS_GEOCODE=""
      - SUPPORTED_COUNTRIES_VERIFY=usa,gbr,deu,aus,fra,can,mex,bra,arg,rus,ind,sgp,nzl,jpn,world
      - SUPPORTED_REGIONS_VERIFY=""
      - SUPPORTED_COUNTRIES_LOOKUP=usa,gbr,deu,aus,fra,can,mex,bra,arg,rus,ind,sgp,nzl,jpn,world
      - SUPPORTED_COUNTRIES_AUTOCOMPLETE=usa,gbr,deu,aus,fra,can,mex,bra,arg,rus,ind,sgp,nzl,jpn,world
      - SUPPORTED_REGIONS_AUTOCOMPLETE=""
      - SUPPORTED_COUNTRIES_REVERSE_GEOCODE=usa,gbr,deu,aus,fra,can,mex,bra,arg,rus,ind,sgp,nzl,jpn,world
      - AUTH_ENABLED=false
      - IS_HELM_SOLUTION=true
      - OTEL_TRACES_EXPORTER=otlp
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://jaeger:4317  # use OTLP gRPC port
    networks:
      - preciselyaddressing
    restart: always

  precisely-addressing-svc:
    image: ${_ADDRESSING_IMAGE:-addressing-service:latest}
    platform: linux/amd64
    deploy:
      resources:
        reservations:
          cpus: '1'
          memory: 4G
    volumes:
      - ${_DATA_PATH:-/data/extracted}:/mnt/data/extracted
    environment:
      - DATA_PATH=/mnt/data/extracted
      - GEOCODE_VERIFY_ENABLED=${_GEOCODE_VERIFY_ENABLED:-true}
      - LOOKUP_ENABLED=${_LOOKUP_ENABLED:-false}
      - REVERSEGEOCODE_ENABLED=${_REVERSEGEOCODE_ENABLED:-false}
      - AUTOCOMPLETE_ENABLED=${_AUTOCOMPLETE_ENABLED:-false}
      - AUTH_ENABLED=false
      - OTEL_TRACES_EXPORTER=otlp
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://jaeger:4317  # use OTLP gRPC port
    networks:
      - preciselyaddressing
    restart: always

  jaeger:
    image: jaegertracing/all-in-one:latest
    container_name: jaeger
    ports:
      - "16686:16686"   # Jaeger UI
      - "4317:4317"     # OTLP gRPC
      - "4318:4318"     # OTLP HTTP
    networks:
      - preciselyaddressing
    restart: unless-stopped

networks:
  preciselyaddressing:
    name: geo-addressing