apiVersion: v2
name: geo-addressing
description: A Helm chart for Geo Addressing service

type: application
version: 3.0.2
appVersion: "1.16.0"
dependencies:
  - name: addressing-hook
    repository: file://charts/addressing-hook
    version: "3.0.2"
    condition: addressing-hook.enabled
  - name: addressing-svc
    repository: file://charts/addressing-svc
    version: "3.0.2"
    condition: addressing-svc.enabled
  - name: autocomplete-svc
    repository: file://charts/autocomplete-svc
    version: "3.0.2"
    condition: autocomplete-svc.enabled
  - name: lookup-svc
    repository: file://charts/lookup-svc
    version: "3.0.2"
    condition: lookup-svc.enabled
  - name: reverse-svc
    repository: file://charts/reverse-svc
    version: "3.0.2"
    condition: reverse-svc.enabled
  - name: addressing-express
    repository: file://charts/addressing-express
    version: "3.0.2"
    condition: addressing-express.enabled
  - name: event-emitter
    repository: file://charts/event-emitter
    version: "3.0.2"
    condition: event-emitter.enabled